/* Set height of the grid so .sidenav can be 100% (adjust if needed).
 * 
 * .1px margin is added to solve the responsive problem for small devices
*/
/* .row.content {
  height: 100vh;
  margin: .1px;
}
*/

.content {
  font-size: 20px;
  color: #666;
  margin-bottom: 40px;
}

.content h2 {
  font-size: 40px;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .service-title {
    padding-top: 60px;
    padding-left: 40px;
  }
}

.service-img {
  padding-bottom: 20px;
}

.service-title .subtitle {
  margin-top: 10px;
}


.content 

.services-details {
  padding-top: 60px
}

.services-header {
  padding-top: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .services-header {
    padding-top: 100px;
  }  
}



